body {
  background-image: url("../images/background.jpg");
}
.cursor--pointer {
  cursor: pointer;
}
.top-title {
  font-size: 24px;
  text-align: left;
  color: #ffffff;
}

.topnav {
  background-color: #001227;
  padding: 15px;
}
.currect-answer {
  color: green;
}
.wrong-answer {
  color: red;
}

.question-option {
  color: #403e50;
  transition: transform 0.2s;
  margin: 0 auto;
  padding: 4px;
}
.question-option:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}
.option-selected {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
  border: 1px solid #403e50;
  border-radius: 5px;
  padding: 2px;
}
.card-background {
  background-color: #02204397;
}
.color-yellow {
  color: #f9ee08;
}
.color-blue {
  color: #02204397;
}
.question-text {
  color: #ffffff;
  font-weight: 500;
}
.question-card {
  background-color: #001227ed;
  border-radius: 20px;
}
.timer-card {
  background-color: #f9ee08;
  border-radius: 20px;
}
.timer-num {
  color: #022043;
  font-weight: bold;
}
